@use '_colors.scss' as *;
@media (min-width: 992px) {
	body{
		overflow-x: hidden;
	}
	.nav {
		position: relative;
		top: 0;
		right: 0;
		width: auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
		text-align: center;
		background-color: transparent;
		padding: 1rem;

		&__item {
			list-style-type: none;
			padding: 0rem 0rem 0rem 1rem 0rem;
			
			a {
				
				padding: 2.5rem 1rem;
			}
		}
		.nav__items .nav__item {
			display: inline-block;
		}
	}
	.btnBox {
		display: none;
	}
	.link {
		position: relative;
	}
	.dropMenu {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 1.3rem;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.8);
		a {
			color: black;
			padding: 0 1rem;
		}
	}
	// header start
	.header {
		background-image: url('../img/selfie_1280.jpg');
		&__text {
			font-size: 2rem;
		}
	}
	.headerBox {
		padding: 2rem;
		backdrop-filter: blur(20px);
	}
	// header end

	// aboutMe Start

	.AboutMeBox {
		display: grid;
		grid-template-columns: 1fr 1fr;
	

		&__text {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-right: 2rem;
		}
	}

	// aboutMe ended
	// How works start
	.HowWork {
		overflow-x: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr;
		hr {
			width: 80%;
		}
		&__img {
			width: 100%;
			height: 100%;
		}
		&__Boxes {
			margin: auto 0;
		}
		.textBox{
			display: flex;
		}
	}
	// how works end
	// offers start
	
	// offers end
	// question Section :start
	.accordion{
		max-width: 70%;
		margin: 0 auto;
	}
	// end
	// ----------------gallery start---------


	// --------------galley end-----------
	// ----------------contact start---------
	.contactBox{
		overflow: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr;
		&__form{
			
			grid-column: 2/3;
			label{
				font-size: 1rem;
			}
		}
	

	}

	// --------------contact end-----------
	.textBox{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	&__text{
		grid-column: 2/3;
		.mainText{
			padding: 1rem;
		}
	
	}
	&__title{
		grid-column: 1/2;
		padding: 1rem;

		
	}
	.Title__Section,
	.Title__Second{
		text-align: left;
	}
	
}




}
@media(min-width: 768px){
	.galleryBox {
		margin-top: 3rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-flow: dense;
		gap: 1rem;
		overflow: hidden;
		.image {
			min-height: 300px;
			border-radius: 8px;
			cursor: pointer;
			transition: scale 0.3s;
			&:hover {
				scale: 1.1;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.wide {
			grid-row: span 2;
		}
		.tall {
			grid-column: span 2;
		}
		.small {
			grid-column: span 1;
			grid-row: span 1;
		}
		&__popup {
			display: flex;
			align-content: center;
			justify-content: center;
			flex-wrap: wrap;
			position: fixed;
			width: 100vw;
			height: 100vh;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(8px);
			z-index: 100;
			img {
				max-width: 90%;
				max-height: 80%;
				
			}
			
	
			.btnPopup {
				width: 3rem;
				height: 3rem;
				border-radius: 50%;
				border: none;
				background-color: transparent;
				font-size: 4rem;
				padding: 2rem;
				font-weight: bold;
				color: white;
				cursor: pointer;
				transition: transform 0.3s;
				position: absolute;
				&__close{
					
					top: 0%;
					right:  10%;
				}
				&__left{
					
					top: calc(50% - 4rem);
					left:  calc(20% - 2rem);
					
				}
				&__right{
				
					top: calc(50% - 4rem);
					right:  20%
				}
				&:hover {
					
					transform: scale(1.1);
				}
			}
		}
	}
	.hide{
		display: none;
	}
	// ========offers============
	.offers {
		&__box {
			border: none;
			display: flex;
			overflow: hidden;
			padding: 0;
			margin: -1rem 0;

			&--right {
				display: flex;
				flex-direction: row-reverse;
			}
			&--img {
				
				max-width: 50%;
			
				img {
					min-height: 100%;
					width: 100%;
					
					
	
			
				}
			}
			&--text {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				padding: 1.5rem;
				margin-top: 2rem;
				.offersTitle,
				.OffersGoldTitle {
					font-size: 2.5rem;
					padding: 0.3rem;
					
				}
				.text__main {
					font-size: 1.5rem;
					// margin: 1rem 0 ;
				}
				a {
					
					margin-top: 2rem ;
					transition: color 0.3s;

					&:hover {
						color: #b87333;
					}
				}
			}
		}
	}
	
	.footer{
		&__boxes{
			padding: 2rem;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: flex-start;
		
		}
		.icon{
			margin: 3rem 1rem 0 0;
		}
	}
	.offers {
		&__box {
			display: flex;
			overflow: hidden;
			// min-height: 400px;
			padding: 0;

			&--right {
				display: flex;
				flex-direction: row-reverse;
			}
			&--img {
				
				min-width: 50%;
			
				img {
					height: 100%;
					width: 100%;
					
			
				}
			}
			&--text {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				padding: 2rem;
				.offersTitle,
				.OffersGoldTitle {
					font-size: 2rem;
				}
				.text__main {
					font-size: 1.5rem;
					margin: 1rem 0 ;
				}
				a {
					transition: color 0.3s;

					&:hover {
						color: #b87333;
					}
				}
			}
		}
	}

}